<Header class="header">
  <img src="https://images.squarespace-cdn.com/content/v1/57ec2ffdebbd1a62c399dd68/1598388675940-2KM6ITJ8HFGQWB0YTIYB/LogoFinalSim%C3%A9trico.png?format=1500w" alt="Logo Neodata">
</Header>


<!-- Secccion Conectada con Sockets-->
<section class="wrapper-main row">

  <app-list-section [coin]="'BTC'" class="col-2"></app-list-section>

  <app-chart-section class="col-10"></app-chart-section>

  <app-list-section [coin]="'ETH'" class="col-2"></app-list-section>

</section>
